/* Add your styles here */
html {
  /* Light purple background */
  --aura-background-color-light: oklch(0.933 0.037 299.201);
  /* Yellow background */
  --aura-background-color-light: oklch(0.936 0.053 76.234);
  /* Blue background */
  --aura-background-color-light: oklch(0.893 0.053 251.879);
  
  scrollbar-gutter: stable;
}

vaadin-grid::part(holiday-passed) {
  opacity: .6;
}

.aura-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  font-size: var(--aura-font-size-s);
  font-weight: var(--aura-font-weight-medium);
  height: calc(1lh - 2px);
  border: 1px solid var(--aura-accent-border-color);
  background: var(--aura-accent-surface) padding-box;
  background-clip: padding-box;
  color: var(--aura-accent-text-color);
  padding: 0 0.5em;
  border-radius: var(--vaadin-radius-l);
  min-width: calc(1lh - 1em - 2px);
  --vaadin-icon-size: 0.75lh;
}
